[*.cs]

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = warningion

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable
